@font-face {
    font-family: "font";
    /* Project id 3828427 */
    /* Color fonts */
    src: url('font.woff2?t=1671170161723') format('woff2'), url('font.woff?t=1671170161723') format('woff'), url('font.ttf?t=1671170161723') format('truetype');
}

.font {
    font-family: "font" !important;
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-xihuan:before {
    font-size: 25px;
    content: "\e60e";
}

.icon-gengduo:before {
    content: "\e610";
}

.icon-biaoqian1:before {
    content: "\e65b";
}

.icon-lianjie:before {
    content: "\e668";
}

.icon-youjian:before {
    font-size: 25px;
    content: "\e63a";
}

.icon-liuyanban:before {
    font-size: 25px;
    content: "\e61b";
}

.icon-youjian1:before {
    content: "\e707";
}

.icon-shenghuo1:before {
    font-size: 25px;
    content: "\e75a";
}

.icon-fenlei2:before {
    content: "\e633";
}

.icon-tongji:before {
    font-size: 25px;
    content: "\e608";
}

.icon-sousuotianchong:before {
    content: "\e694";
}

.icon-GitHub:before {
    content: "\ea0a";
}

.icon-biaoqian:before {
    content: "\e693";
}

.icon-liuyanmoban:before {
    content: "\e64b";
}

.icon-weixin:before {
    font-size: 25px;
    content: "\e637";
}

.icon-fenlei:before {
    content: "\e695";
}

.icon-QQkongjian:before {
    font-size: 25px;
    content: "\e666";
}

.icon-QQ:before {
    font-size: 25px;
    content: "\e667";
}

.icon-liuyan-:before {
    content: "\e60c";
}

.icon-weixin2:before {
    content: "\e607";
}

.icon-youqinglianjie:before {
    content: "\e822";
}

.icon-yinlegedanyinfu:before {
    content: "\e72f";
}

.icon-shenghuo:before {
    font-size: 30px;
    content: "\f2b8";
}

.icon-bilibili:before {
    content: "\e609";
}